* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.body {
  display: flex;
  margin-top: 80px;
  gap: 10px;
}

.product-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
  padding: 1rem;
}

.product-info {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
  }
}
